:root {
    --c-primary: hsl(38, 84%, 86%);
    --c-primary-dark: hsl(38, 69%, 75%); // Used for logo period.
    --c-grey-lightest: hsl(0, 0%, 96%); // Nav Border
    --c-grey-lighter: hsl(228, 9%, 89%); // Button Border, Second section borders
    --c-grey-light: hsl(48, 7%, 87%); // Discover Button
    --c-grey-medium: hsl(300, 1%, 78%); // Collection Card borders, Crossout text
    --c-grey-social: hsl(224, 13%, 78%); // Social Media
    --c-grey-copyright: hsl(236, 7%, 64%); // Copyright text
    --c-grey-dark: hsl(228, 4%, 25%); // Text, Sale tag
    --c-grey-darker: hsl(220, 3%, 18%); // Button
}
